* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.clearbox {
  clear: both;
}

body {
  background-image: url("bg.png");
  font-family: "Helvetica Neue", helvetica;
  font-size: 13px;
}

main {
  max-width: 994px;
  margin: auto;
  background-color: white;
  padding-left: 47px;
  padding-right: 47px;
  margin-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 7px grey;
}

h1 {
  font-size: 52px;
  color: #505050;
  padding-top: 50px;
}

.soustxt {
  font-size: 13px;
  font-family: "Helvetica Neue", helvetica;
  color: #606060;
}

.loupe {
  float: right;
  height: 15px;
}

.nav a:focus, .nav a:hover {
  color: red;
  background: blue;
  text-decoration: underline;
}



.subnav {
  display: none;
  position: absolute;
  right: -6px;
  top: 57px;
  white-space: nowrap;
  background: #FAFAFA;
  border-top: 1px solid #EEEEEE;
  width: 108%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.subnavitem2, .subnavitem {
  line-height: 33px;
}

.listh a:hover {
  font-weight: bold;
  color: #248BE9;
}

.subnav a:hover {
  font-weight: bold;
  color: #248BE9;
}

.subnavitem2 {
  border-top: 1px solid #EEEEEE;
}

.listh:hover .subnav{
  display: block;
}


nav {
  width: 900px;
  margin-top: 25px;
  height: 59px;
  text-align: center;
  background-color: #FAFAFA;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

li {
  list-style: none;
}

.listh {
  display: inline-block;
  width: 145px;
  line-height: 59px;
  position: relative;
}

.listh a {
  text-decoration: none;
  color: #606060;
}


.imgs {
  margin-top: 25px;
}

.parag {
  margin-top: 38px;
}

.datein {
  margin-top: 22px;
  text-align: center;
  color: #606060;
}

.datein a {
  text-decoration: none;
  color: #505050;
}

.upin {
  text-align: center;
  font-size: 28px;
  color: #505050;
}

.lorem {
  margin-top: 30px;
  color: #606060;
}

.miniback {
  margin-top: 30px;
  height: 40px;
  background-color: #FAFAFA;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}


.oldent {
  height: 75px;
}

.older {
  text-align: center;
  line-height: 75px;
  font-size: 13px;
  color: #606060;
}

.miniback2 {
  height: 235px;
  background-color: #FAFAFA;
  border-top: 1px solid #EEEEEE;
}

.art1, .art2, .art3, .art4 {
  width: 25%;
  float: left;
  padding-left: 15px;
}

.titleart {
  color: #505050;
  margin-top: 15px;
  margin-bottom: 15px;
}

.miniback2 a {
  text-decoration: none;
  color: #606060;
  line-height: 19px;
}

.miniback2 a:hover {
  font-weight: bold;
  color: #248BE9;
}
